* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing: border-box;
}

body {
	background:url(../images/top_2.jpg) no-repeat;
	/*background: #5A9CF0;*/
	font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}

ul {
	list-style-type: none;
}

a {
	color: #4D4D4D;
	text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/
h1 {
 	color: #FFF;
 	font-size: 24px;
 	font-weight: 400;
 	text-align: center;
 	margin-top: 80px;
 }

h1 a {
 	color: #FFF;
 	font-size: 16px;
 }

 .accordion {
 	width: 100%;
 	max-width: 250px;
 	margin: 10px 0 0 20px;
 	background: #3F89EC;
	border-left:7px #3F89EC solid;
	border-right:7px #3F89EC solid;
	border-bottom:7px #3F89EC solid;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
 	border-radius: 4px;
 }
.accordion .link {
	background-color:#fff;
	cursor: pointer;
	display: block;
	/*height:60px;*/
	padding: 10px 15px 10px 42px;
	color: #4D4D4D;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	border-right: 2px solid #CCC;
	border-left: 2px solid #CCC;
	position: relative;
	/*-webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
 	border-radius: 5px;*/
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 12px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #3F89EC;
}

.accordion li.open i {
	color: #3F89EC;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}
.linktop{
	background-color:#3F89EC;
	color:#FFF;
	font-family:"楷体";
	padding: 10px 10px 10px 42px;
	font-size: 20px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	
	
}

/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	background: #78B0CC;
 	font-size: 14px;
 }

 .submenu li {
 	border-bottom: 1px solid #4b4a5e;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color:#eee;
 	padding: 10px;
 	padding-left: 42px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	background: #3F89EC;
 	color: #FFF;
 }

